---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
import RiZitas from "../images/RiZitas.jpeg"
import RisiFeetent from "../images/RisiFeetent.jpeg"
import JQuintero from "../images/J.Quintero.png"
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="text-center mb-24 font-serif">Le riz qui nourrit</h1>

			<div class="animate-fade-left animate-once animate-duration-[1800ms]
			flex flex-col md:flex-row text-center 
			sm:text-left sm:mr-[20%] md:text-left md:mr-[20%] mb-20">
				<p class="bg-slate-50 p-2 mx-2 rounded-md">
					Confectionné selon d'anciens rites du temple Rissou, la légende
					raconte que les moines découvrirent des paelleras au bord des côtes,
					Pris d'une épiphanie, ils ajoutèrent le set à la cuisine, un arôme 
					nouveau semblait résider dans les poêles.
				</p>
				<Image src={RiZitas} alt="Image Rissou" 
				class="m-auto md:max-w-[30%] md:max-h-[10%] md:min-w-[30%] md:min-h-[10%]"/>
			</div>

			<div class="animate-fade-right animate-once animate-duration-[1800ms] flex flex-col md:flex-row text-center sm:text-right 
			sm:ml-[20%] md:text-right md:ml-[20%] mb-20">
				<Image src={RisiFeetent} alt="Image RiziFeetent" 
				class="m-auto md:max-w-[30%] md:max-h-[10%] md:min-w-[30%] md:min-h-[10%]  "/>
				<p class="bg-slate-50 p-2 mx-2 rounded-md">
					A celà s'ajoutent donc les fameux rites du temple, en effet, le riz 
					est massé non pas par l'action de la main, mais avec les pieds,
					la force et l'envergure de l'appendice pédestre offre à ce riz 
					une qualité singulière.
				</p>
			</div>

			<div class="animate-fade-left animate-once animate-duration-[1800ms]
			flex flex-col md:flex-row xs:text-center xs:mr-[20%] 
			sm:text-left sm:mr-[20%]
			md:text-left md:mr-[20%] mb-20">
				<p class="bg-slate-50 p-2 mx-2 rounded-md">Les moines baptisèrent ce nouveau riz
				"Zitas" signifiant joie en Rissou. Fort de cet héritage, notre désir
				est de transmettre tout l'art du riz Zitas. L'établissement du riz Zitas,
				c'est l'assurance de la joie du Rissou en bouche</p>
				<Image src={JQuintero} alt="Image Jesus Quintero" class="" 
				class="m-auto xl:max-w-[30%] xl:max-h-[20%] xl:min-w-[30%] xl:min-h-[20%] md:max-w-[30%] md:max-h-[10%] md:min-w-[30%] md:min-h-[10%]"/> 
			</div>
		</main>
		<Footer />
	</body>
</html>
